.display_element_div{
	width:80%;
}

.d_search_main{
	float:left;
	margin-left: 10px;
	margin-right: 50px;
	background-color: #fff;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
}

.de_searchbar_div{
	xmargin-bottom:2px;
	position:relative;
}

.de_sb_input, .de_sb_input_unclicked {
	width:300px;

	padding: 0px !important;
	height:22px;
	font-size:16px;
	float:left;
	border-width: 0px !important;
	border-radius: 4px;
}

.de_sb_input_unclicked{
	color:#999;
}

.de_sb_input{
	color:#000;

}

.de_sb_result_on {
	display:block;
	width:200px;
    position:absolute;
    background-color:#FFF;
    border-right:2px solid #3B73B9;
    border-left:2px solid #3B73B9;
    border-bottom:2px solid #3B73B9;
    z-index:100;
    text-align:left;
    xmargin-top: 20px;
}

.de_sb_result_info{
	background-color:#333;
	color:#fff;
}

.de_sb_result_matches{
	max-height:400px;
    overflow-y:auto;
}

.de_sb_result_off {
	display:none;
}

.search_result_div, .search_result_div_selected
{
    border-bottom:1px #CCC solid;
	background-color:#fff;
	cursor:pointer;
	color:#484848;
}

.search_result_div_selected{
	background-color:#89abd5;
}

.search_result_div:hover
{
    background-color:#ccc;
}

.search_result_span
{
}

.search_result_span_on
{
    background-color:#f4b366;
}
