<div>
  <!-- Application Impact -->
  <div class="form-group">
    <label>Impact</label>
    <div class="spacer"></div>
    <div class="btn-group">
      <label class="btn btn-primary" ng-model="app.impact" uib-btn-radio="'paste'">CSV Copy & Paste</label>
      <label class="btn btn-primary" ng-model="app.impact" uib-btn-radio="'upload'">Upload a File</label>
      <label class="btn btn-primary" ng-model="app.impact" uib-btn-radio="'dbcon'">Database Connection</label>
    </div>
  </div>
  <h2>Time to update your data!</h2>
  <div id="data_upload_csv">
    <h3>CSV Copy & Paste</h3>

  </div>
  <div id="data_upload_file">
    <h3>Upload a File</h3>

  </div>
  <div id="data_upload_dbconnection">
    <h3>Setup a Database Connection</h3>

  </div>
</div>
