<div  class="container-fluid app_about_container">
  <div class="row"> <!-- BEGIN : row-->
    <div class="col-md-6">
      <h2>Deal Maker</h2>
    </div>
    <div class="col-md-8">  <!-- BEGIN : col-md-8 -->
      <img src="assets/images/catelog/deal_ss_800x600.png" class="img-responsive" width="650"/>
    </div>  <!-- END : col-md-8 -->
    <div class="col-md-4">  <!-- BEGIN : col-md-4 -->
      <p><b>Description:  </b>Applies random forest regression to predict the optimal discount rates for any given deal & tracks margins</p>
      <p><b>Category:  </b>Finance</p>
      <p><b>Owner:  </b>Manika Gupta</p>
      <a href="http://dm.grc-apps.svc.ice.ge.com/" class="btn btn-primary" role="button">mobile app</a>
      <a href="http://dart.grc-apps.svc.ice.ge.com/cascade.html#/deal_t_db" class="btn btn-primary" role="button">dashboard</a>
    </div>  <!-- END : col-md-4 -->
  </div>  <!-- END : row-->
</div>
