<div class="row">
  <div class="col-lg-12">
    <div class="cat_title">
      <p>Top self-service analytics apps:<span class="span_green">Explore. Discover. Apply.</span></p>
    </div>
    <div class="col-lg-11" class="text-center" style="text-align:center">
      <img src='assets/images/catalog/predix.png' class="img-responsive">
    </div>
  </div>
</div>
  <div class="row" style="display:none">
    <div class="col-lg-12">
      <section id="Cloud Foundry">
        <h2>CF Initial Setup</h2>
        <h2>CF Connecting</h2>
        <h2>CF Services</h2>
        <h3>Overview</h3>
        <h3>Creating Services</h3>
        <h3>Removing Services</h3>
        <h2>CF Routes</h2>
        <h3>Overview</h3>
        <h3>Creating Routes</h3>
        <h3>Removing Routes</h3>
      </section>
    </div>
  </div>
