<table id="t01">
  <tr>
    <th>Software</th>
    <th>Download link</th>
  </tr>
   <td style="word-wrap: break-word"><b>Github:</b><br>
  GitHub is a Web-based Git repository hosting service. It offers all of the distributed revision control and source code management (SCM) functionality of Git as well as adding its own features.</td>
    <td><a href="https://desktop.github.com" target="_top">Click here</a></td>
  </tr>
  <tr>
   <td style="word-wrap: break-word"><b>Cloud Foundry Command Line Interface:</b><br>
  Use the Cloud Foundry command line interface to deploy and modify applications and service instances.</td>
    <td><a href="https://github.com/cloudfoundry/cli/releases" target="_top">Click here</a></td>
  </tr>
   <tr>
   <td style="word-wrap: break-word"><b>Buildpacks:</b><br>
  Cloud Foundry buildpacks are prepackaged runtime images to get your app up and running quickly, with no need to set up and manage Virtual Machines and operating systems.</td>
    <td><a href="https://www.predix.io/catalog/other-resources/buildpacks.html" target="_top">Click here</a></td>
  </tr>
  <tr>
   <td style="word-wrap: break-word"><b>DevBox:</b><br>
  DevBox is a uniform local development environment for your Predix projects..</td>
    <td><a href="https://www.predix.io/catalog/other-resources/devbox.html" target="_top">Click here</a></td>
  </tr>
    <tr>
   <td style="word-wrap: break-word"><b>Predix help:</b><br>
  Find information, guides, and tools to develop Industrial Internet applications and services.</td>
    <td><a href="https://www.predix.io/resources" target="_top">Click here</a></td>
  </tr>
</table>
